In [1]:
pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\savita\anaconda3\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install mysql.connector.python    #need to install this coz earlier notsupportederror authentcation in a.connect line

In [3]:
import mysql.connector as a

In [4]:
con=a.connect(host="localhost",user="root",password="savita@un17",database="library")

In [5]:
def addbook():
    bn=input("enter book name:")
    c=input("enter book code:")
    t=input("total books:")
    s=input("enter subject:")
    data=(bn,c,t,s)    #storing in tuble
    sql="insert into books values(%s,%s,%s,%s)"   #sql query   #small s if u use capital s will throw programminerror
    C=con.cursor()          #made cursor object ,cursor is class itself
    C.execute(sql,data)       #calling cursor's method excute
    con.commit()           #confirm the changes made by user to the database-commit
    print(">_____________<")
    print("data enter successfully")
    main()          #here calling main so we can keep the task continue

In [6]:
def issueb():
    n=input("enter name:")
    r=input("enter reg no:")
    co=input("enter book code:")
    d=input("enter date:")
    a="insert into issue values(%s,%s,%s,%s)"
    data=(n,r,co,d)
    C=con.cursor()
    C.execute(a,data)
    con.commit()
    print("<______________>")
    print("book issued to:",n)
    bookup(co,-1)      #we r not calling here main() coz we calling bookup and there is main() so no need here

In [7]:
def submitb():
    n=input("enter name:")
    r=input("enter reg no:")
    co=input("enter book code:")
    d=input("enter date:")
    a="insert into submit values(%s,%s,%s,%s)"
    data=(n,r,co,d)
    C=con.cursor()
    C.execute(a,data)
    con.commit()
    print("<______________>")
    print("book submitted from :",n)
    bookup(co,1)

In [13]:
def bookup(co,u):        #code and update # this function keeps the total books count
    a="select total from books where bcode=%s"
    data=(co,)
    c=con.cursor()
    c.execute(a,data)       #execute total and code
    myresult=c.fetchone()    #only want first value
    t=myresult[0]+u         # u value may be -(issued) or plus + (added)
    sql="update books set total=%s where bcode=%s"
    d=(t,co)
    c.execute(sql,d)
    con.commit()
    main()

In [17]:
def dbook():
    ac=input("enter book code:")
    a="delete from books where bcode=%s"
    data=(ac,)         #tuple of single value need to write this way
    c=con.cursor()
    c.execute(a,data)
    con.commit()
    main()

In [15]:
def dispbook():
    a="select*from books"
    c=con.cursor()
    c.execute(a)
    myresult=c.fetchall()
    for i in myresult:          #in first loop will get first row (tuple value) then so on__
        print("book name:",i[0])
        print("book code:",i[1])
        print("total:",i[2])
        print("subject:",i[3])
        print("<_________>")
    main()

In [11]:
def main():
    print("""         #triple qoute used to print strings on multiple lines
            Library Manager
    1. add book
    2. issue book
    3. submit book
    4. delete book
    5. display books
    """)
    choice = input("enter task no:")
    print("<________>")
    if (choice=="1"):
        addbook()        #calling function
    elif (choice=="2"):
        issueb()
    elif (choice=="3"):
        submitb()
    elif (choice=="4"): 
        dbook()
    elif (choice=="5"):
        dispbook()
    else:
        print("wrong choice____")
        main()           #again calling main so can enter another number and search

In [ ]:
def pswd():
    ps=input("enter password:")
    if ps=="py143":        #here we set this password
      main()
    else:
        print("wrong password")
        pswd()
pswd()

enter password:py143
         #triple qoute used to print strings on multiple lines
            Library Manager
    1. add book
    2. issue book
    3. submit book
    4. delete book
    5. display books

enter task no:4
<________>
enter book code:12345s
         #triple qoute used to print strings on multiple lines
            Library Manager
    1. add book
    2. issue book
    3. submit book
    4. delete book
    5. display books

enter task no:5
<________>
book name: ds1
book code: 380
total: 0
subject: python
<_________>
         #triple qoute used to print strings on multiple lines
            Library Manager
    1. add book
    2. issue book
    3. submit book
    4. delete book
    5. display books

enter task no:3
<________>
enter name:savita
enter reg no:380
enter book code:380
enter date:8-9-22
<______________>
book submitted from : savita
         #triple qoute used to print strings on multiple lines
            Library Manager
    1. add book
    2. issue book
    3. submit book
    4. delete book
    5. display books

enter task no:5
<________>
book name: ds1
book code: 380
total: 1
subject: python
<_________>
         #triple qoute used to print strings on multiple lines
            Library Manager
    1. add book
    2. issue book
    3. submit book
    4. delete book
    5. display books